@font-face {
  font-family: 'iconfont';  /* Project id 2652011 */
  src: url('//at.alicdn.com/t/font_2652011_0cws800i90z.woff2?t=1625474700112') format('woff2'),
       url('//at.alicdn.com/t/font_2652011_0cws800i90z.woff?t=1625474700112') format('woff'),
       url('//at.alicdn.com/t/font_2652011_0cws800i90z.ttf?t=1625474700112') format('truetype'),
       url('//at.alicdn.com/t/font_2652011_0cws800i90z.svg?t=1625474700112#iconfont') format('svg');
}

.fab-iconfont {
  font-family:"iconfont";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.fa-leetcode:before {
  content: "\e602";
}

