@font-face {
  font-family: 'iconfont';  /* Project id 2652011 */
  src: url('//at.alicdn.com/t/font_2652011_zxa9bz6vx0g.woff2?t=1625535936560') format('woff2'),
       url('//at.alicdn.com/t/font_2652011_zxa9bz6vx0g.woff?t=1625535936560') format('woff'),
       url('//at.alicdn.com/t/font_2652011_zxa9bz6vx0g.ttf?t=1625535936560') format('truetype'),
       url('//at.alicdn.com/t/font_2652011_zxa9bz6vx0g.svg?t=1625535936560#iconfont') format('svg');
}

.fab-iconfont {
  font-family:"iconfont";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.fa-leetcode:before {
  content: "\e602";
}
.fa-upyun:before {
  content: "\e604";
}

